/* Add additional stylesheets below
 -------------------------------------------------- */
/*
 Bootstrap's documentation styles
 Special styles for presenting Bootstrap's documentation and examples
 */

/* Body and structure
 -------------------------------------------------- */
font-family: 'Lato', sans-serif;

body {
	margin: 0;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	background-color: #fff
}

[class*="span"].hide, .row-fluid [class*="span"].hide {
	display: none
}
[class*="span"].pull-right, .row-fluid [class*="span"].pull-right {
	float: right
}
.container {
	margin-right: auto;
	margin-left: auto;
	*zoom: 1
}
.container:before, .container:after {
	display: table;
	content: "";
	line-height: 0
}
.container:after {
	clear: both
}
.container-fluid {
	padding-right: 20px;
	padding-left: 20px;
	*zoom: 1
}
.container-fluid:before, .container-fluid:after {
	display: table;
	content: "";
	line-height: 0
}
.container-fluid:after {
	clear: both
}
p {
	margin: 0 0 10px
}
.lead {
	margin-bottom: 20px;
	font-size: 21px;
	font-weight: 200;
	line-height: 30px
}
small {
	font-size: 85%
}
strong {
	font-weight: bold
}
em {
	font-style: italic
}
cite {
	font-style: normal
}
.muted {
	color: #999
}
.text-warning {
	color: #c09853
}
.text-error {
	color: #b94a48
}
.text-info {
	color: #3a87ad
}
.text-success {
	color: #468847
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 1;
	color: inherit;
	text-rendering: optimizelegibility
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-weight: normal;
	line-height: 1;
	color: #999
}
h1 {
	font-size: 36px;
	line-height: 40px
}
h2 {
	font-size: 30px;
	line-height: 40px
}
h3 {
	font-size: 24px;
	line-height: 40px
}
h4 {
	font-size: 18px;
	line-height: 20px
}
h5 {
	font-size: 14px;
	line-height: 20px
}
h6 {
	font-size: 12px;
	line-height: 20px
}
h1 small {
	font-size: 24px
}
h2 small {
	font-size: 18px
}
h3 small {
	font-size: 14px
}
h4 small {
	font-size: 14px
}
.page-header {
	padding-bottom: 9px;
	margin: 20px 0 30px;
	border-bottom: 1px solid #eee
}
ul, ol {
	padding: 0;
	margin: 0 0 10px 25px
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 0
}
li {
	line-height: 20px
}
ul.unstyled, ol.unstyled {
	margin-left: 0;
	list-style: none
}
dl {
	margin-bottom: 20px
}
dt, dd {
	line-height: 20px
}
dt {
	font-weight: bold
}
dd {
	margin-left: 10px
}
.dl-horizontal {
	*zoom: 1
}
.dl-horizontal:before, .dl-horizontal:after {
	display: table;
	content: "";
	line-height: 0
}
.dl-horizontal:after {
	clear: both
}
.dl-horizontal dt {
	float: left;
	width: 160px;
	clear: left;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.dl-horizontal dd {
	margin-left: 180px
}
hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #fff
}

blockquote {
	padding: 0 0 0 15px;
	margin: 0 0 20px;
	border-left: 5px solid #eee
}
blockquote p {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px
}
blockquote small {
	display: block;
	line-height: 20px;
	color: #999
}
blockquote small:before {
	content: '\2014 \00A0'
}
blockquote.pull-right {
	float: right;
	padding-right: 15px;
	padding-left: 0;
	border-right: 5px solid #eee;
	border-left: 0
}
blockquote.pull-right p, blockquote.pull-right small {
	text-align: right
}
blockquote.pull-right small:before {
	content: ''
}
blockquote.pull-right small:after {
	content: '\00A0 \2014'
}
q:before, q:after, blockquote:before, blockquote:after {
	content: ""
}

/* Code in headings */
h3 code {
	font-size: 14px;
	font-weight: normal;
}

pre {
	padding: 0 3px 2px;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	color: #333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}
code {
	padding: 2px 4px;
	color: #d14;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8
}
pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}
pre.prettyprint {
	margin-bottom: 20px
}
pre code {
	padding: 0;
	color: inherit;
	background-color: transparent;
	border: 0
}
.pre-scrollable {
	max-height: 340px;
	overflow-y: scroll
}
form {
	margin: 0 0 20px
}
fieldset {
	padding: 0;
	margin: 0;
	border: 0
}
legend, h1.pretty, h2.pretty, h3.pretty {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 40px;
	color: #333;
	border: 0;
	border-bottom: 1px solid #e5e5e5
}
legend small, h1.pretty small, h2.pretty small, h3.pretty small {
	font-size: 15px;
	color: #999
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}
pre.prettyprint {
	margin-bottom: 20px
}
pre code {
	padding: 0;
	color: inherit;
	background-color: transparent;
	border: 0
}
.syntaxhighlighter::-webkit-scrollbar {
	width: 6px;
	height: 6px
}
.scroll::-webkit-scrollbar-button:start:decrement, .dataTables_scrollBody::-webkit-scrollbar-button:start:decrement, .syntaxhighlighter::-webkit-scrollbar-button:start:decrement, .scroll::-webkit-scrollbar-button:end:increment, .dataTables_scrollBody::-webkit-scrollbar-button:end:increment, .syntaxhighlighter::-webkit-scrollbar-button:end:increment {
	display: block;
	height: 0
}
.scroll::-webkit-scrollbar-button:vertical:increment, .dataTables_scrollBody::-webkit-scrollbar-button:vertical:increment, .syntaxhighlighter::-webkit-scrollbar-button:vertical:increment {
	background-color: transparent
}
.scroll::-webkit-scrollbar-track-piece, .dataTables_scrollBody::-webkit-scrollbar-track-piece, .syntaxhighlighter::-webkit-scrollbar-track-piece {
	background-color: #f7f8fd;
	-webkit-border-radius: 6px
}
.scroll::-webkit-scrollbar-thumb:vertical, .dataTables_scrollBody::-webkit-scrollbar-thumb:vertical, .syntaxhighlighter::-webkit-scrollbar-thumb:vertical {
	height: 50px;
	background-color: #737476;
	-webkit-border-radius: 6px
}
.scroll::-webkit-scrollbar-thumb:horizontal, .dataTables_scrollBody::-webkit-scrollbar-thumb:horizontal, .syntaxhighlighter::-webkit-scrollbar-thumb:horizontal {
	width: 50px;
	background-color: #ccc;
	-webkit-border-radius: 6px
}
.syntaxhighlighter table td.code .container textarea {
	letter-spacing: 1px
}

.section {
	padding-top: 20px;
	padding-bottom: 20px
}
.section.dark {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background-color: whiteSmoke
}
.section.border {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5
}
.section.tight {
	padding: 0 !important
}
.texture.light {
	background-color: #f4f6f6;
	background: url('/images/texture_light.jpg?1367432084')
}
.section:nth-of-type(1) {
	padding-top: 10px
}

.api-toc {
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	-webkit-box-shadow: 8px 0px 20px #ddd;
	-moz-box-shadow: 8px 0px 20px #ddd;
	box-shadow: 8px 0px 20px #ddd;
	border-right: 1px solid #DEDEDE;
	background-color: #F6F6F6;
	overflow-y: scroll;
	width: 250px;
	word-wrap: break-word;
	padding: 0 10px
}

.api-toc ul {
	padding: 30px 10px
}

.api-doc {
	margin-left: 275px;
	overflow: auto;
	padding: 30px 10px 10px 50px
}

.mddoc {
	font-size: 16px;
	position: relative
}
.mddoc .indent {
	margin-left: 25px
}
.mddoc .table .keycell {
	font-size: 16px;
	line-height: 24px;
	font-weight: bold
}
.mddoc .table .deprecated {
	white-space: nowrap;
	font-size: 13px;
	line-height: 21px;
	color: white;
	background-color: #9AC;
	font-weight: normal;
	padding: 2px 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}
.mddoc h1 {
	font-size: 28px
}
.mddoc h2 {
	font-size: 24px
}
.mddoc h3 {
	font-size: 20px;
	margin-top: 20px
}
.mddoc h4 {
	font-size: 17px;
	margin-top: 25px
}
.mddoc pre {
	border: 1px solid #cfd1d5;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background-color: white;
	padding: 0
}
.mddoc pre.filename {
	margin: 0;
	border-bottom: 0;
	font-weight: bold;
	padding-left: 10px;
	background-color: #ddd
}
.mddoc ol {
	padding: 0px;
	padding-left: 25px
}
.mddoc ol li {
	padding: 5px
}
.mddoc img {
	margin: 10px 25px 20px 0;
	box-shadow: 1px 3px 10px -1px black
}
.mddoc img.noframe {
	box-shadow: initial
}

.tocify-content h2 {
	margin-top: 40px;
	padding-top: 20px;
	border-top: 1px solid #ddd
}
.tocify-content h2:nth-of-type(1) {
	margin-top: 0;
	border-top: 0;
	padding-top: 0
}
.tocify-content #smclipboard-tt {
	font-size: 11px
}
#toc {
	width: inherit;
	margin-top: 20px;
	max-height: 70%;
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;
	padding: 2px;
	direction: rtl
}
#toc::-webkit-scrollbar {
	width: 6px
}
#toc::-webkit-scrollbar-track {
	background-color: #FFF
}
#toc::-webkit-scrollbar-thumb {
	background-color: #D9EDF7
}
#toc::-webkit-scrollbar-button:start:decrement, #toc::-webkit-scrollbar-button:end:increment {
	height: 2px;
	width: 6px;
	display: block;
	background: #08c
}
@media (max-width: 767px) {
	#toc {
		position: static !important
	}
}
#toc ul, #toc li {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
	line-height: 17px;
	background-color: white
}
#toc ul, #toc li a {
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis
}
#toc > ul {
	padding-right: 15px;
	direction: ltr
}

#pagetoc {
	list-style: none;
	margin: 0
}

.margin-top-large {
	margin-top: 20px
}

.contentlevel.contentlevel_1 {
	font-weight: bold;
	padding-top: 15px
}

/* Tweak navbar brand link to be super sleek
 -------------------------------------------------- */

body > .navbar {
	font-size: 13px;
}

/* Change the docs' brand */
body > .navbar .brand {
	padding-right: 0;
	padding-left: 0;
	margin-left: 20px;
	float: right;
	font-weight: bold;
	color: #000;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}
body > .navbar .brand:hover {
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

/* Sections
 -------------------------------------------------- */

/* padding for in-page bookmarks and fixed navbar */
section {
	padding-top: 30px;
}
section > .page-header, section > .lead {
	color: #5a5a5a;
}
section > ul li {
	margin-bottom: 5px;
}

/* Faded out hr */
hr.soften {
	height: 1px;
	margin: 70px 0;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	border: 0;
}

/* Subhead (other pages)
 ------------------------- */
.subhead {
	text-align: left;
	border-bottom: 1px solid #ddd;
}
.subhead h1 {
	font-size: 60px;
}
.subhead p {
	margin-bottom: 20px;
}
.subhead .navbar {
	display: none;
}

/* Footer
 -------------------------------------------------- */

.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}
.footer p {
	margin-bottom: 0;
	color: #777;
}
.footer-links {
	margin: 10px 0;
}
.footer-links li {
	display: inline;
	padding: 0 2px;
}
.footer-links li:first-child {
	padding-left: 0;
}

/* Responsive
 -------------------------------------------------- */

/* Desktop
 ------------------------- */
@media (max-width: 980px) {
	/* Unfloat brand */
	body > .navbar-fixed-top .brand {
		float: left;
		margin-left: 0;
		padding-left: 10px;
		padding-right: 10px;
	}

	.subhead h1, .subhead .lead {
		margin-right: 0;
	}

}

/* Tablet to desktop
 ------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
	/* Remove any padding from the body */
	body {
		padding-top: 0;
	}
}

/* Tablet
 ------------------------- */
@media (max-width: 767px) {
	/* Remove any padding from the body */
	body {
		padding-top: 0;
	}

	/* Unfloat the back to top link in footer */
	.footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.footer p {
		margin-bottom: 9px;
	}
}

/* Landscape phones
 ------------------------- */
@media (max-width: 480px) {
	/* Remove padding above jumbotron */
	body {
		padding-top: 0;
	}

	/* Change up some type stuff */
	h2 small {
		display: block;
	}

	/* center align subhead text like the masthead */
	.subhead h1, .subhead p {
		text-align: center;
	}

	/* Do our best to make tables work in narrow viewports */
	table code {
		white-space: normal;
		word-wrap: break-word;
		word-break: break-all;
	}

	/* Examples: dropdowns */

	/* Tighten up footer */
	.footer {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
	margin: 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
}
.bs-callout h4 {
	margin-top: 0;
}
.bs-callout p:last-child {
	margin-bottom: 0;
}
.bs-callout code, .bs-callout .highlight {
	background-color: #fff;
}

/* Variations */
.bs-callout-danger {
	background-color: #fcf2f2;
	border-color: #dFb5b4;
}
.bs-callout-warning {
	background-color: #fefbed;
	border-color: #f1e7bc;
}
.bs-callout-info {
	background-color: #f0f7fd;
	border-color: #d0e3f0;
}