<div class="api-toc ">
	<a  href="http://www.megam.co" > <img src="@routes.Assets.at("images/logo-megam160x43.png")"/> </a>
	</br>
	</br>
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			Main <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li>
				<a href="http:\\docs.megam.co">Docs</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="http:\\support.megam.co">Visit Support</a>
			</li>
			<li>
				<a href="http:\\www.megam.co">www.megam.co</a>
			</li>
		</ul>
	</div>
	<ul id="pagetoc">
		<li class="contentlevel contentlevel_1">
			<a href="#auth">Auth</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#auth_post">POST</a>
		</li>
		<li class="contentlevel contentlevel_1">
			<a href="#accounts">Accounts</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#accounts_get">GET</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#accounts_post">POST</a>
		</li>

		<li class="contentlevel contentlevel_1">
			<a href="#nodes">Nodes</a>
		</li>

		<li class="contentlevel contentlevel_2">
			<a href="#nodes_get">GET - v1/nodes</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#nodes_get_byname">GET - v1/nodes/id</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#nodes_post">POST</a>
		</li>
		<li class="contentlevel contentlevel_1">
			<a href="#logs">Logs</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#logs_get">GET - v1/logs</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#logs_get_byname">GET - v1/logs/:node_name</a>
		</li>
		<li class="contentlevel contentlevel_1">
			<a href="#predefs">Predefs</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#predefs_get">GET - v1/predefs</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#predefs_get_byname">GET - v1/predefs/:node_name</a>
		</li>
		<li class="contentlevel contentlevel_1">
			<a href="#predefclouds">Predef Clouds</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#predefclouds_get">GET - v1/predefclouds</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#auth">GET - v1/predefclouds/:context</a>
		</li>
		<li classm="contentlevel contentlevel_1">
			<a href="#uids">UIDs</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#uids_get">GET - v1/uids</a>
		</li>
	</ul>
</div>
