<div class="api-toc ">
	<a  href="http://www.gomegam.com" > <img src="@routes.Assets.at("images/logo-megam160x43.png")"/> </a>
	</br>
	</br>
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			Main <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li>
				<a href="http:\\www.gomegam.com\docs" target="_blank">Documentation</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="http:\\support.megam.co" target="_blank">Support</a>
			</li>
			<li>
				<a href="https:\\www.megam.co" target="_blank">Try Megam</a>
			</li>
		</ul>
	</div>
	<ul id="pagetoc">
		<li class="contentlevel contentlevel_1">
			<a href="#accounts">Accounts</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#accounts_get">GET</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#accounts_post">POST</a>
		</li>

		<li class="contentlevel contentlevel_1">
			<a href="#nodes">Nodes</a>
		</li>

		<li class="contentlevel contentlevel_2">
			<a href="#nodes_get">GET - v1/nodes</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#nodes_get_byname">GET - v1/nodes/:name</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#nodes_post">POST</a>
		</li>
		<li class="contentlevel contentlevel_1">
			<a href="#predefs">Predefs</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#predefs_get">GET - v1/predefs</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#predefs_get_byname">GET - v1/predefs/:name</a>
		</li>
		<li class="contentlevel contentlevel_1">
			<a href="#predefclouds">Predef Clouds</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#predefclouds_get">GET - v1/predefclouds</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#auth">GET - v1/predefclouds/:name</a>
		</li>
		<li class="contentlevel contentlevel_1">
			<a href="#nodes">Requests</a>
		</li>

		<li class="contentlevel contentlevel_2">
			<a href="#nodes_get">GET - v1/requests</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#nodes_get_byname">GET - v1/requests/:id</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#nodes_post">POST</a>
		</li>
		<li class="contentlevel contentlevel_1">
			<a href="#nodes">AppRequests</a>
		</li>

		<li class="contentlevel contentlevel_2">
			<a href="#nodes_get">GET - v1/apprequests</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#nodes_get_byname">GET - v1/apprequests/:id</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#nodes_post">POST</a>
		</li>

		<li class="contentlevel contentlevel_1">
			<a href="#nodes">AppDefns</a>
		</li>

		<li class="contentlevel contentlevel_2">
			<a href="#nodes_get">GET - v1/appdefns</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#nodes_get_byname">GET - v1/appdefns/:id</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#nodes_post">POST</a>
		</li>
		<li class="contentlevel contentlevel_1">
			<a href="#nodes">BoltRequests</a>
		</li>

		<li class="contentlevel contentlevel_2">
			<a href="#nodes_get">GET - v1/boltrequests</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#nodes_get_byname">GET - v1/boltrequests/:id</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#nodes_post">POST</a>
		</li>
		<li class="contentlevel contentlevel_1">
			<a href="#nodes">BoltDefns</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#nodes_get">GET - v1/boltdefns</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#nodes_get_byname">GET - v1/boltdefns/:id</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#nodes_post">POST</a>
		</li>		
		<li class="contentlevel contentlevel_1">
			<a href="#nodes">SSHKeys</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#nodes_get">GET - v1/sshkeys</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#nodes_get_byname">GET - v1/sshkeys/:id</a>
		</li>
		<li class="contentlevel contentlevel_2">
			<a href="#nodes_post">POST</a>
		</li>		
	</ul>
</div>
