@(form: play.api.data.Form[models.UserData])(implicit flash: play.api.mvc.Flash)
@main("Megam Cloud v1") {

@helper.form(routes.Application.loginauthenticate) {
<div class="container">

	<div id="logo">
		<img src="@routes.Assets.at("images/logo-megam160x43.png")"/>	
		
	</div>
	@form.globalError.map { error =>
		<div id="login_error">
			<p>
				@error.message
			</p>
		</div>
		}

		@flash.get("success").map { message =>
		<div class="login_success">
			<p>
				@message
			</p>
		</div>
		}
	<div id="loginbox">
		<form id="loginform" class="form-vertical" action="index.html">
			<p>
				Enter username and apikey to continue.
			</p>
			<div class="input-group input-sm">
				<span class="input-group-addon"> <i class="glyphicon glyphicon-user"></i> </span>
				<input type="email" name="email" class="form-control" placeholder="Email" id="email" value="@form("email").value">
			</div>

			<div class="input-group">
				<span class="input-group-addon"> <i class="glyphicon glyphicon-lock"></i></span>
				<input type="text" name="apikey" class="form-control" id="apikey" placeholder="ApiKey">
			</div>
			<div class="form-actions clearfix">
				<div class="pull-left">
					<a href="@routes.Application.initaccount" class="flip-link to-register blue"> Create Sandbox Account</a>
				</div>

				<div class="pull-right">
					<a href="https://www.megam.co/forgot_password" class="flip-link to-recover grey" target="_blank"> Lost API Key?</a>
				</div>
				<input type="submit" class="btn btn-block btn-primary btn-default" value="Yup. Init Me" />
			</div>
			<div class="footer-login">
				<div class="pull-left text">
					First Time ? : Click Create Sandbox Account
				</div>
			</div>
		</form>
	</div>
</div>

}

}

