@(form: Form[UserData])(implicit flash: play.api.mvc.Flash)

@main("Login..") {  

    @helper.form(routes.Authentication.authenticate) {
        
        @form.globalError.map { error =>
            <p class="error">
                @error.message
            </p>
        }
        
        @flash.get("success").map { message =>
            <p class="success">
                @message
            </p>
        }
        
        <p>
            <input type="email" name="email" placeholder="Email" id="email" value=form("email")>
        </p>
        <p>
            <input type="password" name="password" id="password" placeholder="Password">
        </p>
        <p>
            <button type="submit" id="loginbutton">Login</button>
        </p>
        
    }   
   
}

