@(title: String)(content: Html)
<!DOCTYPE html>
<html>
	<head>
		<title>@title</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<script src="@routes.Assets.at("javascripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
	</head>
	<body>
		<div class="playapp">
			@header()
			<div class="container">
				@content
			</div>
			@footer()
		</div>
		<!-- JQuery will invoke via the spinner and display a loading modal lock. -->
		<div id="loading" />
	</body>
</html>