@(message: String, style: String = "Scala", playhome: String ="http://www.playframework.org")(implicit flash: play.api.mvc.Flash) <!-- Indicates a dangerous or potentially negative action -->

<div class="api-doc">
	<div class="mddoc margin-top-large">
		<div class="row">
			<div class="col-lg-1">
				<span class="glyphicon glyphicon-hand-right"> </span>
			</div>
			<div class="col-lg-8">
				<div class="alert alert-warning">
					<button type="button" class="close" data-dismiss="alert">
						&times;
					</button>
					<strong>Administrators :</strong>
					&nbsp;
					<code>
						&nbsp;<b>Quick Init</b>
					</code>&nbsp;
					to prime your Cloud App Platform.
				</div>
			</div>
			<div class="col-lg-3">
				<a href="@routes.Application.init" class="btn btn-danger btn-block"> <span class="glyphicon glyphicon-flash">Quick Init </span> </a>

			</div>
		</div>

		@flash.get("success").map { suc=>
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">
				&times;
			</button>
			<h1 align="center"><span class="glyphicon glyphicon-ok"></span></h1>
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
					<span class="sr-only">100% Complete</span>
				</div>
			</div>
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <span class="glyphicon glyphicon-cloud"></span> Detail</a></h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in">
						<div class="panel-body pre-scrollable">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Http Code</th>
										<th>Msg</th>
									</tr>
								</thead>
								<tbody>
									@for(sm <- flash.data) {
									<tr>
										<td>@if(sm._1 == "success") { <span class="label label-success">@sm._1</span> } else { <span class="badge badge-success">@sm._1</span> } </td>
										<td>@sm._2</td>
									</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		}

		@flash.get("error").map { err =>
		<div class="alert alert-warning">
			<button type="button" class="close" data-dismiss="alert">
				&times;
			</button>
			<h1 align="center"><span class="glyphicon glyphicon-remove"></span></h1>
			<div class="progress">
				<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
					<span class="sr-only">50% Complete</span>
				</div>
			</div>
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <span class="glyphicon glyphicon-cloud"></span> Detail</a></h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in">
						<div class="panel-body pre-scrollable">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Http Code</th>
										<th>Msg</th>
									</tr>
								</thead>
								<tbody>
									@for(em <- flash.data) {
									<tr>
										<td>@if(em._1 == "error") { <span class="label label-error">@em._1</span> } else { <span class="badge bade-error">@em._1</span> } </td>
										<td>@em._2</td>
									</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			</br>
			<p>
				<a class="btn btn-danger" href="http:\\support.megam.co" target="_blank">Contact Support</a>
			</p>
		</div>

		}

		<h1><a name="rest_docs" href="#a-rest_docs">REST API</a></h1>
		<p>
			Megam's Cloud API is a stateless REST based cloud server.
			Our SDKs abstract away the REST interface and provide a set of handy methods you can interact with
			when deleting, creating, updating and deleting objects.

			We've also provided information on how we use HMAC to create authorization headers for use when accessing Megam.
		</p>
		<section id="auth">
			<div class="page-header">
				<h1>Get API Key</h1>
			</div>
			<p class="lead">
				Before you start using the Megam API, be sure to have an
				<code>
					API Key
				</code>
				and
				<code>
					Email
				</code>
				registered with us.
				<div class="bs-callout bs-callout-info">
					<h4>Register &amp; www.megam.co</h4>
					<p>
						Click <a href="http://www.megam.co">www.megam.co</a> to get access to our
						<code>
							free sandbox
						</code>
						</code>
					</p>
				</div>
			</p>
			<h2>Auth</h2>
			<h4 id="auth_post">POST</h4>
			<p>
				Authentication checks user email and api_key.
			</p>
			<p>
				Request URL:
			</p>
			<pre><code class="html">POST http://api.megam.co/v1/auth</code></pre>
			<p>
				Request Headers:
			</p>
			<p>
				<code>
					"X-Megam-DATE:"
				</code>
				2013-07-01 17:17"
				<br>
				</br>
				<code>
					"X-Megam-HMAC:"
				</code>
				060873b2afce74fd024bba428b0e2e00b661cc2c"
				<br>
				</br>
				<code>
					"Content-Type:"
				</code>
				appilication/Json"
				<br>
				</br>
				<code>
					"Accept:"
				</code>
				"application/vnd.megam+json "
				<br>
				</br>
			</p>
			<p>
				Request Body:
			</p>
			<p>
				<code>
					-
				</code>
				(Nothing in body)
			</p>
			<p>
				Response shown in Json:
			</p>
			<p class="json">
				<pre><code>[
  {
    "id": "ACT346963130863058944",
    "email": "your_registered_email",
    "api_key": "IamAtlas{74}NobodyCanSeeME#07",
    "authority": "user"
  }
]</code>
</pre>
			</p>
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> Response (Error)</a></h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in">
						<div class="panel-body">
							The following explains the HTTP error code and their remedy.
						</div>
						<!-- Table -->
						<table class="table table-condensed">
							<thead>
								<tr>
									<th><i class="icon-trash"></i>HTTP Codes</th>
									<th><i class="icon-info-sign">JSON </i></a></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><span class="badge">401</span></td>
									<td> stick the 401 json here. </td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- TO-DO -->
			<div class="tab-content">
				<ul class="nav nav-tabs" id="#get">
					<li>
						<a href="#ruby" data-toggle="tab">Ruby</a>
					</li>
					<li>
						<a href="#scala" data-toggle="tab">Scala</a>
					</li>
				</ul>

				<div class="tab-pane" id="ruby">
					<pre>
		<code class="brush: ruby; toolbar: false; ">
		Megam::API megam = Megam::API.new(:headers => {:api_key => "IamAtlas{74}NobodyCanSeeME#07", 
		:email => "........"})
		</code>
		</pre>
				</div>
				<div class="tab-pane active" id="scala">
					<pre>
		<code class="brush: scala; toolbar: false; ">
		com.megam.api.API = new com.megam.api.API("test..com","IamAtlas{74}NobodyCanSeeME#07")
		</code>
		</pre>
				</div>
			</div>

		</section>

		<!-- auth end -->

		<!-- accounts start -->
		<section id="accounts">
			<div class="tab-content">
				<h2>Accounts</h2>
				<p>
					<h4 id="accounts_get">GET</h4>
				<p>
					Request URL:
				</p>
				<p>
					<pre> <code class="brush: ruby; toolbar: false; ">
						"http://api.megam.co/accounts/chrisexample.com"
						</code> </pre>
				</p>
			</div>
			<p>
				Request Headers:
			</p>
			<p>
				<pre> <code class="brush: ruby; toolbar: false; ">

					{
					X-Megam-DATE: 2013-07-01 17:17
					X-Megam-EMAIL: your email
					X-Megam-APIKEY: IamAtlas{74}NobodyCanSeeME#07
					X-Megam-HMAC: current-email:9c37b8f3e3790d285ab34554ef8d94bec0f0c761
					Content-Type: appilication/Json
					Accept: application/vnd.megam+json
					}
                    </code> </pre>
			</p>
			<p>
				Request Body:
			</p>
			<p>
				<pre> <code class="brush: ruby; toolbar: false; ">
					
					"nothing in body"
					</code> </pre>
			</p>
			<p>
				Response shown in Json:
			</p>
			<p>
				<pre> <code class="brush: ruby; toolbar: false; ">
				
					{
					"id": "ACT351668441440059392",
					"email":".......",
					"api_key":"IamAtlas{74}NobodyCanSeeME#07",
					"authority":"user"
					}

				</code> </pre>
			</p>
			<h4 id="accounts_post">POST</h4>
			<p>
				Request URL:
			</p>
			<p>
				<pre><code class="brush: bash; toolbar: false; ">
					
					http://api.megam.co/accounts/content
					
				</code> </pre>
			</p>
			<p>
				Request Headers:
			</p>
			<p>
				<pre><code class="brush: bash; toolbar: false; ">
					{
					X-Megam-DATE: 2013-07-01 17:17
					X-Megam-EMAIL: ......
					X-Megam-APIKEY: IamAtlas{74}NobodyCanSeeME#07
					Content-Type:appilication/Json
					Accept: application/vnd.megam+json
                    }
					</code> </pre>
			</p>
			<p>
				Request Body:
			</p>
			<p>
				<pre><code class="brush: bash; toolbar: false; ">
				   {
					"email":".......",
				    "api_key":"IamAtlas{74}NobodyCanSeeME#07",
				    "authority":"user"
				    }
				</code> </pre>
			</p>
			<p>
				Response shown in Json:
			</p>
			<p>
				<pre><code class="brush: bash; toolbar: false; ">

					{
					"id": "ACT351668441440059392",
					"email":".......",
					"api_key":"IamAtlas{74}NobodyCanSeeME#07",
					"authority":"user"
					}

				</code> </pre>
			</p>
			<div class="btn-group">
				<button class="btn" href="#accountsruby">
					Ruby
				</button>
			</div>
			<pre><code class="brush: bash; toolbar: false; ">
					megam = Megam::API.new(:headers => {:api_key => API_KEY, :email => EMAIL})
                </code> </pre>																																																																																																																																																							



















































		</section>

		<section id="nodes">
			<div class="tab-content">
				<h2>Nodes</h2>
				<h4 id="nodes_get">GET -v1/nodes</h4>
				<p>
					list the available nodes.
				<p>
					Request URL:
				</p>
				<p>
					<pre><code class="brush: bash; toolbar: false; ">
						http://api.megam.co/v1/nodes
						
					</code> </pre>
				</p>
				<p>
					Request Headers:
				</p>
				<p>
					<pre><code class="brush: bash; toolbar: false; ">
						X-Megam-DATE: 2013-07-01 17:17
					    X-Megam-EMAIL: ......
					  	X-Megam-APIKEY: IamAtlas{74}NobodyCanSeeME#07
					  	X-Megam-HMAC: current-email:9c37b8f3e3790d285ab34554ef8d94bec0f0c761
						Content-Type:appilication/Json
						Accept: application/vnd.megam+json
						</code> </pre>
				</p>
				<p>
					Request Body:
				</p>
				<p>
					<pre><code class="brush: bash; toolbar: false; ">
						"nothing"
					</code> </pre>
				</p>
				<p>
				<p>
					Response shown in Json:
				</p>
				<p>
					<pre><code class="brush: bash; toolbar: false; ">

						{
						"id": "NOD352786051623813120",
						 "accounts_ID":"ACT352741431581868032",
						 "request":{"req_id":"NOD352786051628007424",
						 "command":"commands","status":"submitted"} ,
						 "predefs":{"rails":"rails3","scm":"scm","db":"dbname","queue":"queue"}
						}

		</code> </pre>
				</p>

				<h4 id="nodes_get_byname">GET- v1/nodes/id</h4>
				<p>
					This part contains about nodes
				<p>
					Request URL:
				</p>
				<p>
					<pre><code class="brush: bash; toolbar: false; ">
						http://api.megam.co/v1/nodes/id   #id is key
				</code> </pre>
				</p>
			</div>
			<p>
				Request Headers:
			</p>
			<p>
				<pre><code class="brush: bash; toolbar: false; ">
						X-Megam-DATE: 2013-07-01 17:17
					    X-Megam-EMAIL: current-email
					  	X-Megam-APIKEY: IamAtlas{74}NobodyCanSeeME#07
					  	X-Megam-HMAC: current-email:9c37b8f3e3790d285ab34554ef8d94bec0f0c761
						Content-Type:appilication/Json
						Accept: application/vnd.megam+json
		</code> </pre>
			</p>
			<p>
				Request Body:
			</p>
			<p>
				<pre><code class="brush: bash; toolbar: false; ">
					"nothing"
				</code> </pre>
			</p>
			<p>
				Response shown in Json:
			</p>
			<p>
				<pre><code class="brush: bash; toolbar: false; ">

					{
					 "id": "NOD352786051623813120",
					 "accounts_ID":"ACT352741431581868032",
					 "request":{"req_id":"NOD352786051628007424",
					            "command":"commands","status":"submitted"} ,
					 "predefs":{"rails":"rails3","scm":"scm","db":"dbname","queue":"queue"}
					}
</code> </pre>
			</p>
			<h4 id="nodes_post">POST</h4>
			<p>
				post request for Nodes
			<p>
				Request URL:
			</p>
			<p>
				<pre><code class="brush: bash; toolbar: false; ">
					http://api.megam.co/v1/nodes/content
				</code> </pre>
			</p>
			<p>
				Request Headers:
			</p>
			<p>
				<pre><code class="brush: bash; toolbar: false; ">
					X-Megam-DATE: 2013-07-01 17:17
					X-Megam-EMAIL: ......
					X-Megam-APIKEY: IamAtlas{74}NobodyCanSeeME#07
					Content-Type:appilication/Json
					Accept: application/vnd.megam+json
					</code> </pre>
			</p>
			<p>
				Request Body:
			</p>
			<p>
				<pre><code class="brush: bash; toolbar: false; ">
					{
					"nod_name":"Node3",
					"command":"commands",
					"predefs":{"rails":"rails3","scm":"scm", "db":"db2", "queue":"queue"
					           }
					}
				</code> </pre>
			</p>
			<p>
				Response shown in Json:
			</p>
			<p>
				<pre><code class="brush: bash; toolbar: false; ">

					{
					"id": "NOD352382590482644992",
					"accounts_ID":"ACT352327725421166592",
					"request":{"req_id":"NOD352382590537170944","command":"commands","status":"submitted"} ,
					"predefs":{"rails":"rails3","scm":"scm","db":"db","queue":"queue"}
					}
       </code> </pre>
			</p>

			<div class="btn-group">
				<button class="btn" href="#nodesruby">
					Ruby
				</button>
			</div>
			<p>
				<pre><code class="brush: bash; toolbar: false; ">

				megam.create_node('name' => POGO,'type' => 'rails')        
                   # create an nodep with a generated name and the default type   
				</code> </pre>
			</p>
		</section>

		<section id="logs">
			<div class="tab-content">
				<h2>Logs</h2>
				<h4 id="logs_get">GET - v1/logs</h4>
				<p>
					This part contains about Logs
				<p>
					Request URL:
				</p>
				<p>
					<pre><code class="brush: bash; toolbar: false; ">
						http://api.megam.co/logs
						</code> </pre>
				</p>
				<p>
					Request Headers:
				</p>
				<p>
					<pre><code class="brush: bash; toolbar: false; ">
						x-megam-Hmac:....//Hmac value
						x-megam-date:....//date
						"Content-Type:appilication/Json"
						"Accept: application/vnd.megam+json "
					</code> </pre>
				</p>
				<p>
					Request Body:

				</p>
				<p>
					<pre><code class="brush: bash; toolbar: false; ">
						"nothing in logs"
						</code> </pre>
				</p>
				<p>
				<p>
					Response shown in Json:
				</p>
				<p>
					<pre><code class="brush: bash; toolbar: false; ">

						{
						id: ACT346963130863058944,
						email:.....,
						api_key: IamAtlas{74}NobodyCanSeeME#07,
						authority:user
						}
</code> </pre>
				</p>
				<h4 id="logs_get_byname">GET - v1/logs</h4>
				<p>
					This part contains about nodes
				<p>
					Request URL:
				</p>
				<p>
					<pre><code class="brush: bash; toolbar: false; ">
						http://api.megam.co/logs/:nodeid
					</code> </pre>
				</p>
			</div>
			<p>
				Request Headers:
			</p>
			<p>
				<pre><code class="brush: bash; toolbar: false; ">
					x-megam-Hmac:....//Hmac value
					x-megam-date:....//date
					"Content-Type:appilication/Json"
					"Accept: application/vnd.megam+json "
					</code> </pre>
			</p>
			<p>
				Request Body:

			</p>
			<p>
				<pre><code class="brush: bash; toolbar: false; ">
					""
					</code> </pre>
			</p>
			<p>
				Response shown in Json:
			</p>

			<p>
				<pre><code class="brush: bash; toolbar: false; ">

					{
					id: ACT346963130863058944,
					email:.....,
					api_key: IamAtlas{74}NobodyCanSeeME#07,
					authority:user
					}

					</code> </pre>
			</p>

			<div class="btn-group">
				<button class="btn" href="#logsruby">
					Ruby
				</button>

			</div>

			<p>
				<pre><code class="brush: bash; toolbar: false; ">

					megam = Megam::API.new(:headers => {:api_key => API_KEY, :email => EMAIL})

					</code> </pre>
			</p>
		</section>

		<section id="predefs">
			<div class="page-header">
				<h2>1. Predefs</h2>
			</div>
			<p class="lead">
				Before you start using the Megam API, be sure to have an API KEY and Email
				and registered. Register with our Hosted Megam Platform<a href="http://www.megam.co">www.megam.co</a>
			</p>
			<h4 id ="predefs_get">GET - v1/predefs</h4>

			<p>
				<pre><code class="brush: bash; toolbar: false; ">

					megam = Megam::API.new(:headers => {:api_key => API_KEY, :email => EMAIL})
            </code> </pre>
			</p>

			<h4 id ="predefs_get_byname">GET - v1/predefs/:node_name</h4>

			<p>
				<pre><code class="brush: bash; toolbar: false; ">

					megam = Megam::API.new(:headers => {:api_key => API_KEY, :email => EMAIL})
            </code> </pre>
			</p>

		</section>
		<section id="predefclouds">
			<div class="page-header">
				<h2>1. PredefClouds</h2>
			</div>
			<p class="lead">
				Before you start using the Megam API, be sure to have an API KEY and Email
				and registered. Register with our Hosted Megam Platform<a href="http://www.megam.co">www.megam.co</a>
			</p>
			<h4 id="predefclouds_get">GET</h4>

			<p>
				<pre><code class="brush: bash; toolbar: false; ">

					megam = Megam::API.new(:headers => {:api_key => API_KEY, :email => EMAIL})
</code> </pre>
			</p>
		</section>
		<section id="uids">
			<div class="page-header">
				<h2>1. UIDS</h2>
			</div>
			<p class="lead">
				Before you start using the Megam API, be sure to have an API KEY and Email
				and registered. Register with our Hosted Megam Platform<a href="http://www.megam.co">www.megam.co</a>
			</p>
			<h4>GET</h4>
			<p>
				<pre><code class="brush: bash; toolbar: false; ">

					megam = Megam::API.new(:headers => {:api_key => API_KEY, :email => EMAIL})

					</code> </pre>
			</p>
		</section>
	</div>
</div>
